.directory
  %h1 View Renters
  %table
    %thead
      %tr
        %th Display Name
        %th Email
        %th Phone
        %th Company Name
        %th Modify
    %tbody
    - @renters.each do |renter|
      %tr
        %th= link_to renter.display_name, renter_url(renter)
        %th= renter.email
        %th= renter.phone
        %th= renter.company_name
        %th
          = image_tag("iconmonstr-pencil-10-icon.svg", :alt => "Edit") 
          = link_to image_tag("iconmonstr-x-mark-icon.svg", :alt => "Delete"), renter_url(renter.id), method: :delete, remote: false
