.directory
  %h1 View Managers
  %table
    %thead
      %tr
        %th Display Name
        %th Email
        %th Modify
    %tbody
    - @managers.each do |m|
      %tr
        %th= link_to m.display_name, manager_url(m)
        %th= m.email
        %th
          = link_to image_tag("iconmonstr-pencil-10-icon.svg", :alt => "Edit"), "#modal-edit" 
          = link_to image_tag("iconmonstr-x-mark-icon.svg", :alt => "Delete"), manager_url(m.id), method: :delete, remote: false if current_user != m

%section{:class => "modal--show", :id => "modal-edit", :tabindex => "-1", :role => "dialog", :"aria-labelledby" => "modal-label", :"aria-hidden" => "true"}
  .modal-inner
    .modal-content
      %h1 Edit Manager
  = link_to "Close", "#!", :class => "modal-close", :title => "Close", :"data-close" => "Close", :"data-dismiss" => "modal"
