- content_for :head do
  %script{:type => "text/javascript"}
    events = [] |
    - @property.events.each do |event|
      events.push({ id: '#{j(event.id.to_s)}', start: '#{j(event.start.to_date.to_s)}', end: '#{j(event.end.to_date.to_s)}', title: '#{j(event.title)}', classtype: "rental" }) |
    window.events = events
  = javascript_include_tag "properties"
  %script{:type => "text/javascript", :id => "calendar-template"}
    <div class="column-form"> |
      <div class="col5"> |
        <div class="cal-wrapper"> |
          <div class="clndr-controls">  |
            <div class="clndr-previous-button">&lsaquo;</div> |
            <div class="month"><%= month %> <%= year %></div> |
            <div class="clndr-next-button">&rsaquo;</div> |
          </div> |
          <div class="clndr-grid"> |
            <div class="days-of-the-week clearfix"> |
              <% _.each(daysOfTheWeek, function(day) { %> |
                <div class="header-day"><%= day %></div> |
              <% }); %> |
            </div> |
            <div class="days clearfix"> |
              <% _.each(days, function(day) { %> |
                <div class="<%= day.classes %>" id="<%= day.id %>"> |
                  <span class="day-number"><%= day.day %></span> |
                </div> |
              <% }); %> |
            </div> |
          </div> |
        </div> |
      </div> |
      <div class="col5"> |
        <div class="event-listing"> |
          <h1>Events This Month</h1> |
          <ul> |
            <% _.each(eventsThisMonth, function(event) { %> |
              <li class="event-item"> |
                <div class="start"><%= event.start %></div> |
                <a href="#event_<%= event.id %>" ref="event_<%= event.id %>" class="event-link"><%= event.title %></a> |
              </li> |
            <% }); %> |
          </ul> |
        </div> |
      </div> |
    </div> |