.form-wrapper
  .form-info
    %h1 Create Property Manager

    .error-messages
      - for message in @property.errors.full_messages
        %p #{property}

  = form_for(@property, :html => { :class => 'form-fields' }) do |f|
    %fieldset
      = f.text_field :location, :placeholder => 'Location', :class => 'req', :autocomplete => :off
      = f.text_field :description, :placeholder => 'Description', :class => 'req', :autocomplete => :off
      %div#map-canvas
    = f.submit "Create", :class => "submit"
