= render :partial => "calendar_js"

#map-canvas{:title => @property.location}
= form_for(@property, :html => { :class => 'form-fields' }) do |f|
  //.map-location  
  //  = f.text_field :location, :placeholder => 'Where is the property located?', :id => 'gmap_location', :class => 'req', :autocomplete => :off
  .error-messages
    - for message in @property.errors.full_messages
      %p #{property}
  .horz-links
    %ul
      %li.active
        = link_to "Description", "#description", :id => "desc_link"
      %li
        = link_to "Calendar", "#calendar", :id => "cal_link"
      %li
        = link_to "Pricing", "#pricing"
      %li
        = link_to "Photos", "#photos"
      %li
        = link_to "Amenities", "#amenities"
      %li
        = f.submit "Update", :class => "submit"
  = render :partial => "desc_fields", :locals => { :f => f }
  #cal_fields
    #calendar