%section{:class => "fixed-sidebar col3"}
  %nav.title
    = link_to "ExecHQ Console", root_url
  - if current_user
    .welcome Welcome, #{current_user.display_name}!
  %nav
    = link_to "Users", root_url, :class => "h3"
    = link_to "Create Manager", new_manager_url, :class => ( current_page?( new_manager_url ) ? "small active" : "small") 
    = link_to "Create Renter", new_renter_url, :class => ( current_page?( new_renter_url ) ? "small active" : "small")
    - if current_user
      = link_to "My Properties", root_url
      = link_to "Add Property", root_url, :class => "small"
      = link_to "All Properties", root_url, :class => "small"

      = link_to "Sign Out", root_url
