!!! 5
%html
  %head
    %title ExecHQ
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - if @use_gmap
      = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"
      = javascript_include_tag "gmaps"
    = javascript_include_tag "https://use.typekit.net/dcn1qjt.js"
    - if @splash_override
      = stylesheet_link_tag    "splash"
      = javascript_include_tag "splash"
    :javascript
      try{Typekit.load();}catch(e){}
    = yield :head
    = csrf_meta_tags

    %meta{:name => "description", :content => ""}
    %meta{:name => "HandheldFriendly", :content => "True"}
    %meta{:name => "MobileOptimized", :content => "320"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}

    - if @splash_override
      %body
        = yield
    - else
      %body
        = render 'shared/sidebar'
        .outer-wrap.margin3.col8
          - if @nowrap
            = yield
          - else
            .inner-wrap
              = yield
        #modal_content
          = yield :modal
        #lean_overlay
